body{

    background-color: rgb(246, 226, 255);

}

header{
    background-color: rgb(252, 252, 90);
}

.starpop img{
    margin-left: 100px;
    margin-top: 10px;
    font-size: xxxx-large;
    
}

.categorias{
    margin-left: 100px;
    margin-right: 100px;
}

.oferta{
    margin-left: 250px;
    margin-top: -34px;
}

.hist{
    margin-left: 500px;
    margin-top: -34px;
}

.contato{
    margin-left: 700px;
    margin-top: -34px;
}

.opcoes{
    align-items: center;
    text-align: center;
}
.starpop input{
    height: 30px;
    font-weight: bold;
    margin-left: 210px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    gap: 20px;
    color: #9B9B;
    width: 500px;
    text-align: center;
    margin-top: -300px;
}


.titulo-secao h1{
    text-align: center;
    color: blueviolet;
    font-size: 30px;
    font-weight: bold;

}

.titulo-secao span{
    color: blueviolet;
    margin-left: 730px;
    font-size: xxx-large;
    
}


.products h1 {
right: 100px;
text-align:left;
font-size: 15px;
font-weight: bold;
text-indent: 0; 
margin-top: 0.83em;
background-position: left 50px top;
}


.card-products img{
    padding: 20px 20px 20px 20px;
    max-width:250px;
    max-height:200px;
    width: auto;
    height: auto;
    text-transform: uppercase;
    margin-top: 0px;
}

.input-wrapper select {
    height: 30px;
    font-weight: bold;
    margin-left: 210px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    gap: 20px;
    color: #9B9B;
    width: 100px;
    text-align: center;
}

.input-wrapper p{
    font-weight: bold;
    color: grey;
    font-size: 25px;
    margin-left: 190px;
    margin-top: 20px;

}

.carrossel h1 {
    color:blueviolet;
    text-transform: 120px;
    margin-top: 1px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 22px;
}


.carrossel h2 {
    color:blueviolet;
    text-transform: 120px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 35px;
    margin-left: 22px;
}


.carrossel p {
    text-transform: 120px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 10px;
    margin-left: 22px;
}

.carrossel div{
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    

}

.card-products {
    align-items: center;
}

.card-products {
    padding-bottom: 5px;
    margin-right: 250px;
    margin-inline: 0px;
    margin-left: 100px;
    width: 200px;
}

.card-products p, .card-products span {
    text-transform: uppercase;
    margin-left: 22px;
}

.card-products p {
    margin-top: -10px;
    font-weight: bold;
}

.div span{
    color: blueviolet;
}

.div{
    display: flex;
}
.img{
    width: 300px;
    margin-left: 100px;
    margin-top: 100px;
}
.txt{
    margin-left: 70px;
    margin-top: 100px;
}



.material-symbols-outlined section {
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    color: blueviolet;
    margin-top: 100px;
    align-items: center;
    margin-left: 2500px;
}

.bolinha{
    margin-left: 5px;
    margin-top: 70px;

}

.rolar{
    margin-right: -140px;
    margin-top: 70px;
    position: relative;

}

.container h1 {
    color:blueviolet;
    text-transform: 120px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 35px;
    margin-left: 22px;
}


.container button {
    margin-left: 40px;
    background-color: blueviolet;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    margin-top: -5px;
}

.container input {
    height: 30px;
    font-weight: bold;
    margin-left: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    gap: 20px;
    color: #9B9B;
    align-items: center;
}

.container p{
    color: blueviolet;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 15px;
}

.desconto h1 {
    color:blueviolet;
    text-transform: 120px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 35px;
    margin-left: 22px;
}

.desconto button{
    margin-left: 40px;
    background-color: blueviolet;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
}

.desconto input{
    height: 30px;
    font-weight: bold;
    margin-left: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    gap: 20px;
    color: #9B9B;
    align-items: center;
    box-sizing: 100px;
    font-size: 15px;
    text-align: center;
}

.extrato h1{
    color:blueviolet;
    text-transform: 120px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 35px;
    margin-left: 22px;
}

.extrato p{
    font-weight: bold;
    margin-left: 50px;
    font-size: 22px;
    margin-top: 90px;
}

.extrato span{
    font-size: 22px;
    margin-left: 600px;
    font-weight: bold;
    margin-top: 90px;

}

.frete p{
    font-weight: bold;
    margin-left: 50px;
    font-size: 22px;
}

.frete span{
    font-size: 22px;
    margin-left: 653px;
    font-weight: bold;
    margin-top: 90px;
}

.total p{
    font-weight: bold;
    margin-left: 50px;
    font-size: 22px;
}

.total span{
    font-size: 22px;
    margin-left: 653px;
    font-weight: bold;
    margin-top: 90px;
}

.finalizar button{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: yellow;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    width: 300px;
    height: 50px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    align-items: center;
    margin-left: 600px;
    margin-right: 100px;


}


footer{
    background-color: blueviolet;
}

.fim h1{
    color: black;
}



/* identificação */

.primeira-impressao h1{
    text-align: center;
    color: blueviolet;
    font-weight: bold;
    font-size: 50px;
}

.primeira-impressao span{
    color: #ffda05;
    font-size: 300px;
    margin-left: 490px;
}

.cliente h1{
    color: blueviolet;
    text-transform: 120px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 35px;
    margin-left: 22px;  
}


.nome label{
    font-weight: bold;
    font-size: 30px;
    margin-left: 100px;
    color: blueviolet;
}

.nome input{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    height: 30px;
    text-align: center;
    width: 800px;
}

.senha label{
    font-weight: bold;
    font-size: 30px;
    margin-left: 100px;
    color: blueviolet;
    margin-top: 20px;
}

.senha input{
    font-size: 15px;
    font-weight: bold;
    margin-left: 27px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    height: 30px;
    text-align: center;
    width: 800px;
    margin-top: 20px;
}

.botao button{
background-color: yellow;
color: blueviolet;
font-weight: bold;
margin-top: 100px;
margin-left: 600px;
font-size: 30px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-start-end-radius: 15px;
border-start-start-radius: 15px;
}


.separa{
    margin-left: 130px;
}

.nao-cliente h1{
    color: blueviolet;
    text-transform: 120px;
    margin-top: 100px;
    font-weight: bold;
    font-size: 35px;
    margin-left: 22px;  
}

.pass label{
    font-weight: bold;
    font-size: 30px;
    margin-left: 100px;
    color: blueviolet;
    margin-top: 20px;

}

.pass input{
    font-size: 15px;
    font-weight: bold;
    margin-left: 27px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-start-end-radius: 15px;
    border-start-start-radius: 15px;
    height: 30px;
    text-align: center;
    width: 800px;
    margin-top: 100px;
}

.but button{
background-color: yellow;
color: blueviolet;
font-weight: bold;
margin-top: 100px;
margin-left: 600px;
font-size: 30px;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
border-start-end-radius: 15px;
border-start-start-radius: 15px;
}