<!DOCTYPE html>
 <html lang="port-BR">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Finalização de pedidos</title>
    <link rel="stylesheet" type= "text/css" href="./css/finalize-seu-pedido.css">


</head>
 
<body>
    <header>
        <%- include('./header.ejs') %>
    </header>

    <h1 class="titulo">Finalize seu pedido!</h1>   
  
    <form id="userdata">
        <h1 class="titulo">Finalize seu pedido!</h1> 
        <h2 class="detalhes-faturamento">detalhes do faturamento</h2>
        <div class="teste">
            <label for = "nome"> 
             
                <input class="input" name="sobrenome" id="sobrenome" placeholder="Nome">
            </label>
     
            <label for="primeira">
              
                <input class="input" name="sobrenome" id="sobrenome" placeholder="Sobrenome">
            </label>
                
        </div>

        <div class="teste">
            <label for="CPF">
                
                <input class="input" name="CPF" id="CPF" required placeholder="CPF">
            </label>
        
            <label for="RG">
                
                <input class="input" name="RG" id="RG" required placeholder="email">
            </label>
        </div>
        
        <div class="email">
            <label for="Email">
               
                <input class="input" type="email" name="email" id="email" placeholder="login">
            </label>
        </div>       
       
        <p style="border-bottom: 7.2px dotted #000">
        ENDEREÇO DE ENTREGA</p>

        <div class="teste">
            <label for="CEP"> 
                <h3 class="dados-pessoais">CEP</h3>
                <input class="input" name="Cep" id="cep">
            </label>
        </div>
        
        <div class="teste">
            <label for="rua">
                <h3 class="dados-pessoais">Rua</h3>
                <input class="input" name="CPF" id="CPF" required>
            </label>
            <label for="numero">
            <h3 class="dados-pessoais">Número</h3> 
            <input class="input" name="numero" id="numero" required>
            </label>
        </div>
        
        <div class="teste">
            <label for="Bairro">
            <h3 class="dados-pessoais">Bairro</h3>
            <input class="input" name="Bairro" id="Bairro" required>
            </label>
            <label for="Complemento">
            <h3 class="dados-pessoais">Complemento</h3>
            <input class="input" name="complemeto" id="RG" required>
            </label>
        </div>
        
        
        <div class="teste">
            <label for="Estado"> 
                <h3 class="dados-pessoais">Estado</h3>
                <select class="input">Estado id="Estado">
                    <option value="Estados Unidos">São Paulo</option>
                    <option value="Estados Unidos">Santa Catarina</option>
                    <option value="Estados Unidos">Porto Alegre</option>
                    <option value="Estados Unidos">Rio de Janeiro</option>
                </select>
            </label>
       
            <label for="Cidade">
                    
                    <h3 class="dados-pessoais">Cidade</h3>
                    
                    <select class="input" id="Cidade">
                        <option value="Estados Unidos">São André</option>
                        <option value="Estados Unidos">São Caetano</option>
                        <option value="Estados Unidos">São Paulo</option>
                    </select>
            </label>
     
        </div>
        
        <div class="teste">
            <label for = "País">
                
                <h5 class="pais">País</h5>
                
                <select class="input" id="País">
                    <option value="Estados Unidos">Brasil</option>
                        <option value="Estados Unidos">Estados Unidos</option>
                            <option value="Estados Unidos">Japão</option>
                                <option value="Estados Unidos">Alemanha</option>
                </select>
            </label>
 
        </div>
        
        <label><p style="border-bottom: 5px groove; color:black">
                    Detalhes do Pedido
                </p>
        </label>

        <main class="container">
            <div class="bloco-1"></div>
                <div class="bloco-2"></div>
                    <div class="bloco-3"></div>
        </main>
    
        <article for="aceite"> 
            <input type="checkbox" name="aceite" id="aceite">
            <p>aceito os termos e condições</p>
        </article>

        <p style="border-bottom: 5px groove; color:black">
            FORMA DE PAGAMENTO
        </p>
            
        <div class="teste">
            <main class="section">
              <img src="./img/PIX.png"class="img1">  
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>                         
              <img src="./img/CARTAO.png"class="img3">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <img src="./img/PAYPAL.png" class="img3">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <img src="./img/BOLETO.png" class="img4">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
        </div>
        <button class="botao">Adicionar forma de pagamento</button>
    </form>
</body>

<footer>
    <%- include('./footer.ejs') %>
</footer>
 
</html>
 
 