<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
   
    <title>Document</title>
</head>
<body>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                <h4>Quem Somos</h4>
                <ul>
                    <li><a href="#">Institucional</a></li>
                    <li><a href="#">Loja Segura</a></li>
                    
                </ul>
                </div>
            
            <div class="footer-col">
                <h4>Politicas</h4>
                <ul>
                    <li><a href="">Politicas de Privacidade</a></li>
                    <li><a href=""> Trocas e Devoluções</a></li>
                    <li><a href=""> Prazos e Entregas</a></li>
                    <li><a href=""> Frete Gratis</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Duvidas</h4>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Minha conta</a></li>
                    <li><a href="">Pagamento</a></li>
                    <li><a href="">Como comprar</a></li>
                </ul>
                
            </div>
                <div class="footer-col">
                <h4>Siga-nos</h4>
                <div class="social">
               <a href=""><i class="fab fa-facebook-f"></i></a>
               <a href=""><i class="fab fa-twitter"></i></a>
               <a href=""><i class="fab fa-instagram"></i></a>
               <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            </div>
        </div>
    </footer>
</body>
</html>