<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayPop</title>
    <link rel="stylesheet" href="./css/header.css">
    <script src="./js/header.js" defer></script>
</head>
    

<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/">
                    <img src="/img/StayPOP.png" alt="">
                </a>
            </div>
            <form id="search">
                <input type="text" name="q" id="search" autocomplete="off" placeholder="Buscar produtos">
                <button type="submit">
                    <span class="material-symbols-outlined">
                        search
                    </span>
                </button>
            </form>

            <div class="header--controls">
                <a href="/login">
                    <button title="Login">
                        <span class="material-symbols-outlined">
                            login
                        </span>
                    </button>
                </a>

                <a href="/carrinho" target="_blank">
                    <button title="Carrinho">
                        <span class="material-symbols-outlined">
                            shopping_cart
                        </span>
                    </button>
                </a>
            </div>

            <button id="menu-mobile--open" class="menu">
                <span class="material-symbols-outlined">
                    menu
                </span>
            </button>
        </div>
    </header>

</body>
