<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayPOP - Obrigado por comprar com a gente!</title>
    <script src="../js/product.js"></script>
    <link rel="stylesheet" href="./css/lista-de-produtos.css">
</head>

<header>
    <%- include('./header.ejs') %>
</header>

<body>
    <section class="section3">
        <p class="titulo-produtos">CAMISETAS</p>
        <div class="product-sugestion">
            <ul class="product-sugestion-cards">
                <li class="product-card"><img width="160px" src="./img/imagem1.webp" alt="product-card01">
                    <strong>Título do Produto</strong>
                    <p>Descrição do produto</p>
                    <p>R$ 99,99</p></li>
                <li class="product-card"><img width="160px" src="./img/imagem1.webp" alt="product-card02">
                    <strong>Título do Produto</strong>
                    <p>Descrição do produto</p>
                    <p>R$ 99,99</p></li>
                <li class="product-card"><img width="160px" src="./img/imagem1.webp" alt="product-card03">
                    <strong>Título do Produto</strong>
                    <p>Descrição do produto</p>
                    <p>R$ 99,99</p></li>
                <li class="product-card"><img width="160px" src="./img/imagem1.webp" alt="product-card04">
                    <strong>Título do Produto</strong>
                    <p>Descrição do produto</p>
                    <p>R$ 99,99</p></li>
                <li class="product-card"><img width="160px" src="./img/imagem1.webp" alt="product-card04">
                    <strong>Título do Produto</strong>
                    <p>Descrição do produto</p>
                    <p>R$ 99,99</p></li>               
                </ul>      
    </section>
    
</body>

<footer>
    <%- include('./footer.ejs') %>
</footer>

</html>