* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }




body {
    margin: 100px;
    margin-top: 20px;
    background-color: rgba(147, 5, 242, 0.1);
    
}

.span {
    margin-bottom: 40px;
}

.section1 {
    margin-bottom: 50px;
}

.description {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 400px;
    flex-direction: column;
    float: right;
    align-items: flex-start;
    margin-left: 20px;

}

.title {
    font-size: 20px;
    margin-bottom: 20px;
    
}

.simple-description {
    font-size: 16px;
    margin-bottom: 40px;
}

.price {
    font-size: 18px;
    margin-bottom: 5px;
}

.price-divided {
    font-size: 16px;
    margin-bottom: 32px;
}

.color-text {
    font-size: 16px;
    margin-bottom: 10px;
}

.colours-buttons{
    display: flex;
    font-size: 16px;
    flex-direction: row;
    margin-bottom: 20px;
}


.colour1 {
    margin-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 40px;
    height: 20px;
    text-align: center;
    background-color: white;
}

.colour1:hover {
    border-width: 2px;
    cursor: pointer;
}

.colour2 {
    margin-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 40px;
    height: 20px;
    text-align: center;
    background-color: black;
}

.colour2:hover {
    border-width: 2px;
    cursor: pointer;
}

.colour3 {
    margin-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 40px;
    height: 20px;
    text-align: center;
    background-color: red;
}

.colour3:hover {
    border-width: 2px;
    cursor: pointer;
}

.colour4 {
    margin-right: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 40px;
    height: 20px;
    text-align: center;
    background-color: blue;
}

.colour4:hover {
    border-width: 2px;
    cursor: pointer;
}

.size-text {
    font-size: 16px;
    margin-bottom: 10px;
}
.size-buttons {
    display: flex;
    font-size: 16px;
    flex-direction: row;
    margin-bottom: 20px;
}

.size1 {
    margin-right: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: rgba(147, 5, 242, 0.1);
}

.size1:hover {
    border-width: 2px;
    cursor: pointer;
}

.size2 {
    margin-right: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: rgba(147, 5, 242, 0.1);
}

.size2:hover {
    border-width: 2px;
    cursor: pointer;
}

.size3 {
    margin-right: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: rgba(147, 5, 242, 0.1);
}

.size3:hover {
    border-width: 2px;
    cursor: pointer;
}

.size4 {
    margin-right: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: rgba(147, 5, 242, 0.1);
}

.size4:hover {
    border-width: 2px;
    cursor: pointer;
}

.size5 {
    margin-right: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: rgba(147, 5, 242, 0.1);
}

.size5:hover {
    border-width: 2px;
    cursor: pointer;
}

.size6 {
    margin-right: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
    background-color: rgba(147, 5, 242, 0.1);
}

.size6:hover {
    border-width: 2px;
    cursor: pointer;
}
.rate-title {
    margin-bottom: 40px;
}

.shipping{
    font-size: 18px;
    margin-bottom: 8px;
}

.cep {
    font-size: 14px;
    margin-bottom: 15px;
}

.shipping-type {
    font-size: 14px;
    margin-bottom: 8px;

}

.add-troller-button {
    font-size: 14px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    height: 40px;
    width: 200px;
    background-color: rgba(255, 249, 132, 0.9);
    margin-top: 15px;
}

.add-troller-button:hover {
    border-width: 2px;
    cursor: pointer;
}

.buy-now-button {
    font-size: 14px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    height: 40px;
    width: 200px;
    background-color: rgba(255, 249, 132, 0.4);
    margin-top: 15px;
}

.buy-now-button:hover {
    border-width: 2px;
    cursor: pointer;
}


.caroussel-img {
    display: flex;
    max-width: 500px;
}


.imgs {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

li.img-mini {
    margin: 3px;
    display:flex;
    justify-content: space-between;
    border-style: solid;
    border-color: black;
    border-width: 1px;    
}


.description-buttons {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    max-width: 600px;
    justify-content: flex-start;
}

.product-detail-box {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(106, 106, 106, 0.5);
    padding: 10px;
    font-size: 14px;
}

.product-detail-box:hover {
    border-color: black;
    transition-duration: 0.3s;
    background-color:  rgba(255, 249, 132, 0.9);
    cursor: pointer;
}


.brand-about-box {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(106, 106, 106, 0.5);
    padding: 10px;
    font-size: 14px;
}

.brand-about-box:hover {
    border-color: black;
    transition-duration: 0.3s;
    background-color:  rgba(255, 249, 132, 0.9);
    cursor: pointer;
}

.other-info-box {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(106, 106, 106, 0.5);
    padding: 10px;
    font-size: 14px;
}

.other-info-box:hover {
    border-color: black;
    transition-duration: 0.3s;
    background-color:  rgba(255, 249, 132, 0.9);
    cursor: pointer;
}

.container-description {
    width: 1060px;
    height: 200px;    
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgba(106, 106, 106, 0.5);
    margin-top: 2px;
    margin-bottom: 20px;

}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;

}

.product-details{
    font-size: 14px;
    margin-top: 8px;

}


.product-sugestion-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 50px;
}
.product-card {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(203, 203, 203, 0.7); 
}

.product-card:hover{
    border-width: 2px;
    border-radius: 15px;
    background-color:  rgba(203, 203, 203, 0.9);
    transition-duration: 0.15s;
    cursor: pointer;
}


.section4 {
    display: flex;
    margin-top: 50px;
    border-top: 2px;
    border-color: rgba(106, 106, 106, 0.5);
    border-style: solid;
}

.comments-section{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    
}

.comment-rating{
    margin-top: 10px;
    border-style: dashed;
    border-color: rgba(106, 106, 106, 0.5);
    border-width: 2px;
}





