@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.titulo {
        display: flex;
        align-items:center;
        border: 10px solid #7e000049;
        position: center;
        width: 50%;
        height: 70px;
        color: rgb(0, 0, 0);
        font-family: "Inter";
        
    
        gap: 2px;
    }
    
    #userdata {            
        background-image: linear-gradient(to bottom right, rgb(124, 2, 108), rgb(250, 245, 248));
        background-color: rgba(234, 10, 255, 0.363); 
        width: 1000px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items:baseline;
        border-radius: 8px;
        padding: 20px;
        font-family:'Inter', sans-serif;
        flex-grow: 70%;
        gap: 5px;
    }/* formulário-body */

    .input{
        
        justify-content: flex-start;
        gap: 10px;
        display: flex;
        align-items: flex-start;
        
    }
    
    .img1
    {
    
    width: 170px;
    height: 120px;
    
    
    
    }